<block-ui>
    <div class="container-fluid m-0 p-0">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-light border-bottom">
                <div class="container-fluid">
                    <div class="flex align-items-center justify-content-center">
                        <a class="navbar-brand" href="#">
                            <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="ms-4 mt-1 d-inline-block align-text-top">
                            Bootstrap
                        </a>
                    </div>
                    <div *ngIf="menuUsuario" class="dropdown dropstart d-flex align-items-center justify-content-center">
                        <a class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle cursor-hand" data-bs-toggle="dropdown">
                            <strong class="pe-3">{{menuUsuario.nome}}</strong>
                            <img [src]="menuUsuario.imagem" alt="" width="32" height="32" class="rounded-circle me-2">
                        </a>
                        <ul *ngIf="menuUsuario.menus && menuUsuario.menus.length > 0" class="dropdown-menu text-small shadow">
                            <li *ngFor="let i of menuUsuario.menus">
                                <a *ngIf="i.ativo && !i.separador" class="d-flex align-items-center link-dark text-decoration-none cursor-hand dropdown-item">
                                    <i *ngIf="i.icone" [ngClass]="' ' + (i.icone)"></i>
                                    <label class="cursor-hand app-label ">{{i.nome}}</label>
                                </a>
                                <hr *ngIf="i.ativo && i.separador" class="dropdown-divider">
                            </li>
                        </ul>
                    </div>
                </div>
              </nav>
        </div>
        <div class="row g-0">
            <!-- <div *ngIf="isLogged()" class="col-12 m-0 p-0">
                <app-menu [menuItens]="menus" [menuUsuario]="menuUsuario" ></app-menu>
            </div>
            <div class="col-12 m-0 p-0">
                <div class="ps-5 pt-5">
                    <router-outlet />
                </div>
            </div> -->
            <div *ngIf="isLogged()" class="col-md-2 m-0 p-0 " style="width: 13rem;">
                <app-menu [menuItens]="menus" [menuUsuario]="menuUsuario" ></app-menu>
            </div>
            <div class="col-md-10 m-0 p-0 shadow-5 mt-4 ms-2" style="width: 87%;">
                <div class="pt-5 ">
                    <router-outlet />
                </div>
            </div>
        </div>
    </div>
</block-ui>

