<div class="container-fluid mx-51" style="width: 95%;margin-top: -2rem;">
    <div class="col-12">
        <h4>
          <div>
            <i class="bi bi-ui-checks pe-1 color-white1"></i>
            Dados do formulário
          </div>
        </h4>
        <hr style="margin-top: 0; margin-bottom: 1rem;">
    </div>
    <div class="row justify-content-md-start">
        <div class="row justify-content-md-start">
            <div class="col-3">
                <label class="input-label mb-1 w-100">Nome do Formulário</label>
                <input type="text" class="form-control form-control" placeholder="Nome" />
            </div>
            <div class="col-6">
                <label class="input-label mb-1 w-100">Descrição do Formulário</label>
                <input type="text" class="form-control form-control" placeholder="Nome" />
            </div>
            <div class="col-3">
                <label> &nbsp;</label>
                <div class="flex pt-2">
                    <label class="input-label" style="width: 45%;">Formulário Ativo?</label>
                    <p-toggleswitch [style]="{'height': '20px', }"/>
                </div>
            </div>
            <div class="col-6">
                <label class="input-label mb-1 w-100">Imagem do cabeçalho</label>
                <div class="w-100 flex flex-column justify-content-start pt-1">
                    <img src="https://dummyimage.com/600x300/000/fff" class="img-fluid">
                    <div class="flex align-items-center justify-content-end pt-2">
                        <i class="bi bi-trash3 cursor-hand" style="font-size: 1rem;"></i>
                        <i class="bi bi-cloud-arrow-up mx-2 cursor-hand" style="font-size: 1.3rem;"></i>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <label class="input-label mb-1 w-100">Imagem do Rodapé</label>
                <div class="w-100 flex flex-column justify-content-start pt-1">
                    <img src="https://dummyimage.com/600x300/000/fff" class="img-fluid">
                    <div class="flex align-items-center justify-content-end pt-2">
                        <i class="bi bi-trash3 cursor-hand" style="font-size: 1rem;"></i>
                        <i class="bi bi-cloud-arrow-up mx-2 cursor-hand" style="font-size: 1.3rem;"></i>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h4>
                  <div>
                    <i class="bi bi-ui-checks pe-1 color-white1"></i>
                    Seções do formulário
                  </div>
                </h4>
                <hr style="margin-top: 0; margin-bottom: 1rem;">
            </div>
            <div class="col-12 mb-3">
                <label class="input-label mb-1 w-100">Nome da Seção</label>
                <div class="flex">
                    <input type="text" class="form-control form-control" [(ngModel)]="nomeSecao" placeholder="Nome da seção" />
                    <p-button icon="pi pi-plus" [severity]="'success'" [style]="{'height': '39px', 'margin-left': '1rem'}" (onClick)="addSecao()"/>
                </div>
            </div>
            <div class="col-12">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item mt-3 border">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Seção - Dados pessoais
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="col-12 mb-3">
                            <label class="input-label mb-1 w-100">Perguntas Cadastradas</label>
                            <div class="flex">
                                <p-select [options]="[{ name: 'Sim', code: 'S' }, { name: 'Não', code: 'N' }]" optionLabel="name" placeholder="Ativo" class="w-full md:w-56" [style]="{'height':'39px'}" />
                                <p-button label="Adicionar" [severity]="'success'" [style]="{'height': '39px', 'margin-left': '1rem'}"/>
                                <p-button label="Cadastrar Nova" [severity]="'primary'" [style]="{'height': '39px', 'margin-left': '1rem', 'width': '150px'}"/>
                            </div>
                        </div>
                        <div style="margin-left: 10px; margin-right: 10px;">
                            <p-table 
                        [paginator]="true"
                        [rows]="3"
                        [tableStyle]="{ 'min-width': '50rem' }"
                        [rowsPerPageOptions]="[3, 10, 20]"  
                        [value]="[{'code': 'Nome', 'name': 'Sim', 'category': 'TEXTO_SIMPLES', 'quantity': 001, 'ativo': true}, 
                                  {'code': 'Data de Nascimento', 'name': 'Não', 'category': 'DATA', 'quantity': 002, 'ativo': false}, 
                                  {'code': 'Estado Cívil', 'name': 'Sim', 'category': 'SELECAO_SIMPLES', 'quantity': 003, 'ativo': false}]" 
                        stripedRows 
                        [tableStyle]="{'min-width': '50rem'}">
                        <ng-template #header>
                            <tr>
                                <th style="background-color: #EEEEEE;">Nº</th>
                                <th style="background-color: #EEEEEE; border-top-left-radius:  5px;">Nome</th>
                                <th style="background-color: #EEEEEE;">Ativa</th>
                                <th style="background-color: #EEEEEE;">Tipo</th>
                                <th style="background-color: #EEEEEE; border-top-right-radius:  5px;">Ações</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-product>
                            <tr>
                                <td>{{product.quantity}}</td>
                                <td>{{product.code}}</td>
                                <td>{{product.name}}</td>
                                <td>{{product.category}}</td>
                                <td>
                                  <div class="flex">
                                    <i class="bi bi-pencil-square pe-2 cursor-hand "></i>
                                    <i class="bi bi-trash pe-2 cursor-hand"></i>
                                    <div style="padding-top: 2px;">
                                      <p-toggleswitch [(ngModel)]="product.ativo" [style]="{'height': '20px', }"/>
                                    </div>
                                  </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                        </div>
                      </div>
                    </div>
                    <div *ngFor="let s of secoes">
                        <div class="accordion-item mt-3 border">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    {{s}}
                                </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                              </div>
                        </div>
                    </div>
                    <!-- <div class="accordion-item mt-3 border">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Seção - Perguntas sobre a doença
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item mt-3 border">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Seção - Relatório Clínico
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                      </div>
                    </div> -->
                  </div>
            </div>
            <div class="col-12">
                <div class="w-100 flex justify-content-end pt-4">
                    <p-button label="Cancelar" icon="pi pi-times-circle" [severity]="'danger'" [style]="{'height': '39px'}"/>
                    <div class="px-2"></div>
                    <p-button label="Salvar Formulário" icon="pi pi-save" [severity]="'success'" [style]="{'height': '39px'}"/>
                </div>
              </div>
        </div>
    </div>
</div>
