<section>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form>
                    <div class="text-center">
                        <h3 class="text-center fw-bold mx-3 mb-0 app-label">Bem vindo ao SmartForms</h3>
                        <div class="divider d-flex align-items-center mb-4 mt-3">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label class="input-label mb-1">Login</label>
                            <input class="form-control form-control-lg input-radius-all" placeholder="Login" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 pt-3">
                            <label class="input-label mb-1">Senha</label>
                            <input type="password" class="form-control form-control-lg input-radius-all" placeholder="Senha" />
                        </div>
                        <div class="col-6 pt-3">
                            <label class="input-label mb-1">Código</label>
                            <input type="text" class="form-control form-control-lg input-radius-all" placeholder="Senha" />
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-between align-items-center pt-2">
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox"/>
                            <label class="app-label">
                                Sempre logado
                            </label>
                        </div>
                        <a class="text-body">Esqueceu a senha?</a>
                    </div>

                    <div class="text-center text-lg-center mt-4 pt-2">
                        <p-button label="Entrar" styleClass="app-label button-radius-all" [style]="{'width': '250px'}" (click)="redirecionar()" [severity]="'primary'"/>
                        <p class="small fw-bold mt-2 pt-1 mb-0 app-p">Não tem uma conta? 
                            <a href="#!" class="link-danger">Registre-se</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>